#macro(rparse $tplName)
	#getTplPath($returnVal)
	#findTpl(false $returnVal $tplName)
#end

#macro(rinclude $tplName)
	#getTplPath($returnVal)
	#findTpl(true $returnVal $tplName)
#end

#macro(getTplPath $returnVal)
#set($path = $link.getContextURL())

#set($returnVal = $stringUtils.substringBetween($path, "//", ":"))

#set($requestPath = $link.getRequestPath())

#set($lastIndexSlash = $stringUtils.lastIndexOf($requestPath, "/"))	
#if(($requestPath.length())>$lastIndexSlash+1)
	#set($requestPath = $requestPath+"/")
#end	
#set($temp = $stringUtils.substringBeforeLast($requestPath, "/"))
#set($returnVal = "$returnVal$temp")
#end

#macro(findTpl $inc $path $tplName)
	#set($tpl = "$path/$tplName")	
	#if ($include.exists("$tpl"))
		#set($temp = $stringUtils.substringAfter($tpl, "/"))
		#set($tplToInclude = "/$temp")
		#if ($inc)
			#include($tplToInclude)
		#else
			#parse($tplToInclude)
		#end
	#else
		#set($index = $stringUtils.indexOf($path, "/"))
		#if($index != -1)
			#set($newPath = $stringUtils.substringBeforeLast($path, "/"))
			#findTpl($inc $newPath, $tplName)
		#else
			$_log.resourceNotFound($tplName)
		#end
	#end
#end

#macro(eval $path)
	$render.eval("$_reader.read($path)")
#end

#macro(httpeval $path)
	$render.eval("$_http.request($path)")
#end